<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div class="container" layout:fragment="content">

    <h1>Open Bank Account</h1>
    <form action="#" th:action="@{/bankaccount}" method="POST">

        <div class="form-group">
            <label for="inputCusId">Customer Id</label>
            <input type="input" class="form-control" name="customerId" id="inputCusId">
        </div>

        <div class="form-group">
            <label for="inputType">Type</label>
            <input type="input" class="form-control" name="type" id="inputType">
        </div>

        <div class="form-group">
            <label for="inputBalance">Balance</label>
            <input type="input" class="form-control" name="balance" id="inputBalance">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th style="text-align: center;">Id</th>
            <th style="text-align: center;">CustomerId</th>
            <th style="text-align: center;">Type</th>
            <th style="text-align: center;">Balance</th>
            <th style="text-align: center;">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bankacc : ${allBankAccounts}">
            <td style="text-align: center;" th:text="${bankacc.id}"></td>
            <td style="text-align: center;" th:text="${bankacc.customerId}"></td>
            <td style="text-align: center;" th:text="${bankacc.type}"></td>
            <td style="text-align: center;" th:text="${bankacc.balance}"></td>
            <td>
                <div class="w3-show-inline-block">

                    <div class="w3-bar" style="display: flex;justify-content: center;align-items: center;">
                        <a style="width: 70px;margin-right:15px"class="btn btn-primary" th:href="@{/bankaccount/edit/{id}(id=${bankacc.id})}">Edit</a>
                        <form th:action="@{/bankaccount/delete/{id}(id=${bankacc.id})}" method="POST">
                            <button id="delete"type="submit" class="btn btn-danger">Delete</button>
                        </form>


                    </div>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>